*.iml
.gradle
.gradle-user/
.android-user/
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.idea/
.vscode/
.claude/
.DS_Store
/build
/app/build/
/flutter_app/build/
/captures
.externalNativeBuild
.cxx
local.properties
keystore.properties
